[defaults]
inventory=inventory
collections_paths=/home/student/mycollections:/usr/share/ansible/collections
[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/inbound-rhel/
token=9507e4aff3b8727f7360ed199c47295bc7303a6c
