[defaults]
inventory=inventory
collections_paths=/home/student/mycollections:/usr/share/ansible/collections
[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/inbound-rhel/
token=fe9e3aae490dc6c70fcd9a61467a7983ec33db81
