[defaults]
inventory=inventory
collections_paths=/home/student/mycollections:/usr/share/ansible/collections
[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/inbound-rhel/
token=13a0c1d241986cbc043c9a0cd538cc46015acddc
